.unity-collection-view__item {
    background-color: rgb(210, 210, 210);
    border-color: rgb(150, 150, 150);
    border-top-width: 0.66px;
    border-bottom-width: 0.66px;
}

.unity-collection-view__item:selected {
    background-color: rgb(210, 210, 210);
}

.unity-collection-view__item:hover {
    background-color: rgb(210, 210, 210);
}

.unity-decorator-drawers-container > .unity-header-drawer__label {
    color: rgb(0, 0, 0);
}