@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  --bs-font-sans-serif: 'Roboto';
  --bs-border-radius: 10px;

  --border-radius-button: 40px;
  --card-box-shadow: 0 1px 2px 0 #3d41440f, 0 1px 3px 1px #3d414429;
}

/* HEADINGS */

h1 {
  font-weight: 600;
  font-size: 36px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
}

h3 {
  font-weight: 600;
  font-size: 21px;
  line-height: 1.6;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

article h1 {
  padding-bottom: 4px;
  margin-top: 18px;
  margin-bottom: 22px;
}

article h2,
article h3,
article h4 {
  padding-bottom: 2px;
  margin-top: 12px;
  margin-bottom: 14px;
}

article h1,
article h2,
article h3 {
  border-bottom: 1px solid var(--bs-border-color)
}